## Pandas
Pandas is developed on top of numpy for heavier data processing.
It has series and dataframe two things
Series is a single dimensional array having any datatypes like dit, list, object, static by default float64

In [1]:
import pandas as pd   
x=pd.Series(data=[2,4,6,8])   
y=pd.Series(data=[11.2,18.6,22.5], index=['a','b','c'])   
print(x.index)   
print(x.values)   
print(y.index)   
print(y.values)

RangeIndex(start=0, stop=4, step=1)
[2 4 6 8]
Index(['a', 'b', 'c'], dtype='object')
[11.2 18.6 22.5]

Retrieving Types (dtype) and Size of Type (itemsize)

In [4]:
import pandas as pd   
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],   
index=['x','y','z'])   
print(a.dtype)   
print(a.dtype.itemsize)    
print(b.dtype)   
print(b.dtype.itemsize)

int64
8
float64
8

Retrieving Shape

In [5]:
import pandas as pd   
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
print(a.shape)   
print(b.shape)

(4,)
(3,)

Retrieving Dimension, Size and Number of bytes:

In [6]:
import pandas as pd   
a=pd.Series(data=[1,2,3,4])   
b=pd.Series(data=[4.9,8.2,5.6],  
index=['x','y','z'])   
print(a.ndim, b.ndim)   
print(a.size, b.size)   
print(a.nbytes, b.nbytes)

1 1
4 3
32 24

Checking Emptiness and Presence of NaNs

In [9]:
import numpy as np   
import pandas as pd   
a=pd.Series(data=[1,2,3,np.NaN])   
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])   
c=pd.Series()   
print(a.empty,b.empty,c.empty)   
print(a.hasnans,b.hasnans,c.hasnans)   
print(len(a),len(b), len(c))   
print(a.count( ),b.count( ), c.count())

False False True
True False False
4 3 0
3 3 0

Pandas Serires.map()

In [13]:
import pandas as pd  
import numpy as np  
a = pd.Series(['Java', 'C', 'C++', np.nan])  
print(a.index)
print(a.values)
a.map({'Java': 'Core'})

RangeIndex(start=0, stop=4, step=1)
['Java' 'C' 'C++' nan]

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

In [14]:
import pandas as pd  
import numpy as np  
a = pd.Series(['Java', 'C', 'C++', np.nan])  
a.map({'Java': 'Core'})  
a.map('I like {}'.format, na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

In [18]:
import pandas as pd  
import numpy as np  
a = pd.Series(['Java', 'C', 'C++', np.nan])  
a.map({'Java': 'Core'})

0    Core
1     NaN
2     NaN
3     NaN
dtype: object

In [19]:
a.map('I like {}'.format)

0    I like Java
1       I like C
2     I like C++
3     I like nan
dtype: object

In [20]:
a.map('I like {}'.format, na_action='ignore')

0    I like Java
1       I like C
2     I like C++
3            NaN
dtype: object

## Pandas Series.std()
### Syntax:
Series.std(axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)  
### Parameters:
- axis: {index (0), columns (1)}
- skipna: It excludes all the NA/null values. If NA is present in an entire row/column, the result will be NA.
- level: It counts along with a particular level, and collapsing into a scalar if the axis is a MultiIndex (hierarchical).
- ddof: Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements.
- numeric_only: boolean, default value None

It includes only float, int, boolean columns. If it is None, it will attempt to use everything, so use only numeric data.

It is not implemented for a Series.

In [21]:
import pandas as pd  
# calculate standard deviation  
import numpy as np   
print(np.std([4,7,2,1,6,3]))  
print(np.std([6,9,15,2,-17,15,4]))

2.1147629234082532
10.077252622027656

In [24]:
import pandas as pd  
import numpy as np  

# Create a DataFrame  
info = {  
    'Name': ['Parker', 'Smith', 'John', 'William'],  
    'sub1_Marks': [52, 38, 42, 37],  
    'sub2_Marks': [41, 35, 29, 36]  
}   
data = pd.DataFrame(info)  

# Display the DataFrame
print(data)

# Calculate standard deviation of the DataFrame
std_dev = data[['sub1_Marks', 'sub2_Marks']].std()  # Only apply std to numeric columns
print(std_dev)

      Name  sub1_Marks  sub2_Marks
0   Parker          52          41
1    Smith          38          35
2     John          42          29
3  William          37          36
sub1_Marks    6.849574
sub2_Marks    4.924429
dtype: float64

## Pandas Series.to_frame()

Series can only contain a single list with a particular index, whereas the DataFrame is a combination of more than one series that can analyze the data.

In [25]:
s = pd.Series(["a", "b", "c"],  
name="vals")  
s.to_frame()

  vals
0    a
1    b
2    c

In [27]:
import pandas as pd       
emp = ['Parker', 'John', 'Smith', 'William']   
id = [102, 107, 109, 114]     
emp_series = pd.Series(emp)   
id_series = pd.Series(id)     
frame = { 'Emp': emp_series, 'ID': id_series }   
result = pd.DataFrame(frame)     
print(result)

       Emp   ID
0   Parker  102
1     John  107
2    Smith  109
3  William  114

## Pandas Series.unique()

In [28]:
import pandas as pd  
pd.unique(pd.Series([2, 1, 3, 3]))  
pd.unique(pd.Series([pd.Timestamp('20160101'),  
pd.Timestamp('20160101')]))

array(['2016-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [29]:
import pandas as pd  
import numpy as np  
pd.unique(pd.Index([pd.Timestamp('20160101', tz='US/Eastern'),  
pd.Timestamp('20160101', tz='US/Eastern')]))

DatetimeIndex(['2016-01-01 00:00:00-05:00'], dtype='datetime64[ns, US/Eastern]', freq=None)

## Pandas Series.value_counts()

### Syntax
Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)  
### Parameters
- normalize: If it is true, then the returned object will contain the relative frequencies of the unique values.
- sort: It sort by the values.
- ascending: It sort in the ascending order.
- bins: Rather than counting the values, it groups them into the half-open bins that provide convenience for the pd.cut, which only works with numeric data.
- dropna: It does not include counts of NaN.

In [30]:
import pandas as pd  
import numpy as np  
index = pd.Index([2, 1, 1, np.nan, 3])  
index.value_counts()

1.0    2
2.0    1
3.0    1
Name: count, dtype: int64

In [31]:
import pandas as pd  
import numpy as np  
index = pd.Index([2, 1, 1, np.nan, 3])  
a = pd.Series([2, 1, 1, np.nan, 3])  
a.value_counts(normalize=True)

1.0    0.50
2.0    0.25
3.0    0.25
Name: proportion, dtype: float64

In [34]:
import pandas as pd  
index = pd.Index([1, 3, 2, 2, 1, np.nan])  
index.value_counts()  
a = pd.Series([1, 3, 2, 2, 1, np.nan])  
a.value_counts(bins=2)

(0.997, 2.0]    4
(2.0, 3.0]      1
Name: count, dtype: int64

In [37]:
import pandas as pd  
index = pd.Index([1, 3, 2, 2, 1, np.nan])  
index.value_counts()  
a = pd.Series([1, 3, 2, 2, 1, np.nan])  
a.value_counts(dropna=False)

1.0    2
2.0    2
3.0    1
NaN    1
Name: count, dtype: int64

## Python Pandas DataFrame

In [38]:
# importing the pandas library  
import pandas as pd  
df = pd.DataFrame()  
print (df)

Empty DataFrame
Columns: []
Index: []

Create a DataFrame using List:

In [39]:
# importing the pandas library  
import pandas as pd  
# a list of strings  
x = ['Python', 'Pandas']  
  
# Calling DataFrame constructor on list  
df = pd.DataFrame(x)  
print(df)

        0
0  Python
1  Pandas

Create a DataFrame from Dict of ndarrays/ Lists

In [40]:
# importing the pandas library  
import pandas as pd  
info = {'ID' :[101, 102, 103],'Department' :['B.Sc','B.Tech','M.Tech',]}  
df = pd.DataFrame(info)  
print (df)

    ID Department
0  101       B.Sc
1  102     B.Tech
2  103     M.Tech

Create a DataFrame from Dict of Series:

In [41]:
# importing the pandas library  
import pandas as pd  
  
info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}  
  
d1 = pd.DataFrame(info)  
print (d1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  6.0    6
g  NaN    7
h  NaN    8

In [45]:
print (d1 ['two'])

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
Name: two, dtype: int64

In [48]:
# importing the pandas library  
import pandas as pd  
  
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
  
df = pd.DataFrame(info)  
  
# Add a new column to an existing DataFrame object   
  
print ("Add new column by passing series")  
df['three']=pd.Series([20,40,60],index=['a','b','c'])  
print (df)  
  
print ("Add new column using existing DataFrame columns")  
df['four']=df['one']+df['three']  
  
print (df)

Add new column by passing series
   one  two  three
a  1.0    1   20.0
b  2.0    2   40.0
c  3.0    3   60.0
d  4.0    4    NaN
e  5.0    5    NaN
f  NaN    6    NaN
Add new column using existing DataFrame columns
   one  two  three  four
a  1.0    1   20.0  21.0
b  2.0    2   40.0  42.0
c  3.0    3   60.0  63.0
d  4.0    4    NaN   NaN
e  5.0    5    NaN   NaN
f  NaN    6    NaN   NaN

In [49]:
# importing the pandas library  
import pandas as pd  
  
info = {'one' : pd.Series([1, 2], index= ['a', 'b']),   
   'two' : pd.Series([1, 2, 3], index=['a', 'b', 'c'])}  
     
df = pd.DataFrame(info)  
print ("The DataFrame:")  
print (df)  
  
# using del function  
print ("Delete the first column:")  
del df['one']  
print (df)  
# using pop function  
print ("Delete the another column:")  
df.pop('two')  
print (df)

The DataFrame:
   one  two
a  1.0    1
b  2.0    2
c  NaN    3
Delete the first column:
   two
a    1
b    2
c    3
Delete the another column:
Empty DataFrame
Columns: []
Index: [a, b, c]

Row Selection, Addition, and Deletion

In [51]:
# importing the pandas library  
import pandas as pd  
  
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),   
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
  
df = pd.DataFrame(info)  
print(df)
print (df.loc['b'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  4.0    4
e  5.0    5
f  NaN    6
one    2.0
two    2.0
Name: b, dtype: float64

In [54]:
# importing the pandas library  
import pandas as pd  
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),  
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
df = pd.DataFrame(info)  
print (df.iloc[3])

one    4.0
two    4.0
Name: d, dtype: float64

In [55]:
# importing the pandas library  
import pandas as pd  
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),   
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}  
df = pd.DataFrame(info)  
print (df[2:5])

   one  two
c  3.0    3
d  4.0    4
e  5.0    5

In [59]:
# Importing the pandas library  
import pandas as pd  

# Creating the first DataFrame
d = pd.DataFrame([[7, 8], [9, 10]], columns=['x', 'y'])  

# Creating the second DataFrame
d2 = pd.DataFrame([[11, 12], [13, 14]], columns=['x', 'y'])  

# Concatenating the DataFrames
d = pd.concat([d, d2], ignore_index=True)  

# Printing the combined DataFrame
print(d)

    x   y
0   7   8
1   9  10
2  11  12
3  13  14

In [64]:
# importing the pandas library  
import pandas as pd  
  
a_info = pd.DataFrame([[4, 5], [6, 7]], columns = ['x','y'])  
b_info = pd.DataFrame([[8, 9], [10, 11]], columns = ['x','y'])  
  
a_info = pd.concat([a_info, b_info], ignore_index=False) 
print(a_info)
  
# Drop rows with label 0  
a_info = a_info.drop(0)  
print(a_info)

    x   y
0   4   5
1   6   7
0   8   9
1  10  11
    x   y
1   6   7
1  10  11

## Pandas DataFrame.append()

In [68]:
import pandas as pd   

# Create first DataFrame using dictionary   
info1 = pd.DataFrame({"x": [25, 15, 12, 19],   
                      "y": [47, 24, 17, 29]})     

# Create second DataFrame using dictionary   
info2 = pd.DataFrame({"x": [25, 15, 12],   
                      "y": [47, 24, 17],    
                      "z": [38, 12, 45]})   

# Append info2 at the end of info1 using pd.concat
combined_info = pd.concat([info1, info2], ignore_index=True)   

# Printing the combined DataFrame
print(combined_info)

    x   y     z
0  25  47   NaN
1  15  24   NaN
2  12  17   NaN
3  19  29   NaN
4  25  47  38.0
5  15  24  12.0
6  12  17  45.0

## Pandas DataFrame.apply()

### Syntax:
DataFrame.apply(func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds)

In [3]:
import pandas as pd
import numpy as np
info = pd.DataFrame([[2, 7]] * 4, columns=['P', 'Q']) 
print(info)
info.apply(np.sqrt)  
print("After sqrt")
print(info)
info.apply(np.sum, axis=0)
print("After np sum axis 0")
print(info)
info.apply(np.sum, axis=1)  
print("After np sum axis 1")
print(info)
info.apply(lambda x: [1, 2], axis=1)  
info.apply(lambda x: [1, 2], axis=1, result_type='expand')  
info.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)  
info.apply(lambda x: [1, 2], axis=1, result_type='broadcast')  
info

   P  Q
0  2  7
1  2  7
2  2  7
3  2  7
After sqrt
   P  Q
0  2  7
1  2  7
2  2  7
3  2  7
After np sum axis 0
   P  Q
0  2  7
1  2  7
2  2  7
3  2  7
After np sum axis 1
   P  Q
0  2  7
1  2  7
2  2  7
3  2  7

   P  Q
0  2  7
1  2  7
2  2  7
3  2  7

In [6]:
import pandas as pd
import numpy as np

info = pd.DataFrame([[2, 7]] * 4, columns=['P', 'Q']) 
print("Original DataFrame:")
print(info)

# Applying square root
info_sqrt = info.apply(np.sqrt)  
print("After applying square root:")
print(info_sqrt)

# Summing column-wise
column_sums = info.apply(np.sum, axis=0)
print("Column sums:")
print(column_sums)

# Summing row-wise
row_sums = info.apply(np.sum, axis=1)  
print("Row sums:")
print(row_sums)

# Apply lambda functions
result1 = info.apply(lambda x: [1, 2], axis=1)
print("After lambda returning [1, 2]:")
print(result1)

result2 = info.apply(lambda x: [1, 2], axis=1, result_type='expand')
print("After lambda returning [1, 2] with result_type='expand':")
print(result2)

result3 = info.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)
print("After lambda returning pd.Series with custom indices:")
print(result3)

result4 = info.apply(lambda x: [1, 2], axis=1, result_type='broadcast')
print("After lambda with result_type='broadcast':")
print(result4)

Original DataFrame:
   P  Q
0  2  7
1  2  7
2  2  7
3  2  7
After applying square root:
          P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751
3  1.414214  2.645751
Column sums:
P     8
Q    28
dtype: int64
Row sums:
0    9
1    9
2    9
3    9
dtype: int64
After lambda returning [1, 2]:
0    [1, 2]
1    [1, 2]
2    [1, 2]
3    [1, 2]
dtype: object
After lambda returning [1, 2] with result_type='expand':
   0  1
0  1  2
1  1  2
2  1  2
3  1  2
After lambda returning pd.Series with custom indices:
   foo  bar
0    1    2
1    1    2
2    1    2
3    1    2
After lambda with result_type='broadcast':
   P  Q
0  1  2
1  1  2
2  1  2
3  1  2

## Pandas DataFrame.aggregate()

### Syntax:
DataFrame.aggregate(func, axis=0, *args, **kwargs)

In [7]:
import pandas as pd  
import numpy as np  
info=pd.DataFrame([[1,5,7],[10,12,15],[18,21,24],[np.nan,np.nan,np.nan]],columns=['X','Y','Z'])  
info.agg(['sum','min'])

        X     Y     Z
sum  29.0  38.0  46.0
min   1.0   5.0   7.0

In [13]:
import pandas as pd  
import numpy as np  

info = pd.DataFrame([[1,5,7],[10,12,15],[18,21,24],[np.nan,np.nan,np.nan]], columns=['X','Y','Z'])  

# Apply aggregate functions to existing columns
result = info.agg({'X': ['sum', 'min'], 'Y': ['min', 'max'], 'Z': ['sum', 'max']})
print(result)

        X     Y     Z
sum  29.0   NaN  46.0
min   1.0   5.0   NaN
max   NaN  21.0  24.0

## Pandas DataFrame.assign
### Signature
DataFrame.assign(**kwargs)

In [15]:
import pandas as pd  
# Create an empty dataframe  
info = pd.DataFrame()  
  
# Create a column  
info['ID'] = [101, 102, 103]  
  
# View the dataframe  
info  
# Assign a new column to dataframe called 'age'   
info.assign(Name = ['Smith', 'Parker', 'John'])

    ID    Name
0  101   Smith
1  102  Parker
2  103    John

In [19]:
import pandas as pd  
# Create a dataframe  
info = pd.DataFrame({'temp_c': [17.0, 25.0]},  
# Create an index that consist some values  
index=['Canada', 'Australia'])  
# View the dataframe  
info  
# info.assign(temp_f=lambda x: x.temp_c * 7 / 2 + 24)  
info.assign(temp_f=lambda x: x['temp_c'] * 6 / 2 + 21,  
temp_k=lambda x: (x['temp_f'] +  342.27) * 6 / 4)

           temp_c  temp_f   temp_k
Canada       17.0    72.0  621.405
Australia    25.0    96.0  657.405

## Pandas DataFrame.astype()

### Syntax
> DataFrame.astype(dtype, copy=True, errors='raise', **kwargs)

In [20]:
import pandas as pd  
a = {'col1': [1, 2], 'col2': [3, 4]}  
info = pd.DataFrame(data=a)  
info.dtypes  
# We convert it into 'int64' type.  
info.astype('int64').dtypes  
info.astype({'col1': 'int64'}).dtypes  
x = pd.Series([1, 2], dtype='int64')  
x.astype('category')  
cat_dtype = pd.api.types.CategoricalDtype(  
categories=[2, 1], ordered=True)  
x.astype(cat_dtype)  
x1 = pd.Series([1,2])  
x2 = x1.astype('int64', copy=False)  
x2[0] = 10  
x1  # note that x1[0] has changed too

0    10
1     2
dtype: int64